/* Estilos del contenedor principal */
.main-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center; /* Centra horizontalmente */
  padding: 0 20px; /* Márgenes internos para separarse de los bordes */
  margin-bottom: 20px; /* Margen adicional hacia afuera */
}

/* Estilos de las tarjetas (cards) */
.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 400px; /* Ancho máximo de las tarjetas */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente */
}

/* Estilos del formulario */
.alert-form {
  width: 100%; /* Ajustar el ancho completo del formulario */
  max-width: 400px; /* Ancho máximo del formulario */
}

.alert-form h2 {
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 3px;
}

.form-group input,
.form-group textarea {
  width: 100%; /* Ajustar el ancho completo de los campos */
  padding: 10px;
  border: 1px solid #694343;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%; /* Ajustar el ancho completo del botón */
  padding: 10px 20px;
  background-color: #173218;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

button[type="submit"]:hover {
  background-color: #9a0007;
}
