{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="contact-container">
    <div class="contact-info">
        <h2>Ponerse en Contacto</h2>
        <p>Ponte en contacto con nosotros para mayor información</p>
        
        <div class="contact-details">
            <p><span>Teléfono:</span> +569 9336-9572</p>
            <p><span>Email:</span> contacto@emergency911.cl</p>
        </div>
    </div>
    
    <div class="contact-form">
        <h2>Recibir Últimas Novedades</h2>
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required />
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required />
            </div>
            <div class="form-group">
                <label for="correo">Correo Electrónico:</label>
                <input type="email" id="correo" name="correo" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Suscribirse" />
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/contac-style.css' %}" />
{% endblock %}
