{% extends "base.html" %}

{% load static %}

{% block content %}



<div class="error-container">
    <h1>Error 404</h1>
    <p>Lo sentimos, la página que estás buscando esta en mantenimiento.</p>
    <p>Puedes <a href="/">volver a la página de inicio</a> o intentarlo más tarde.</p>
</div>


<script src="https://unpkg.com/scrollreveal"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/error-style.css' %}" />
{% endblock %}