{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Sección de Historia, Misión y Visión en dos columnas -->
<section class="history-mission-vision-section">
  <div class="container">
    <h1 class="section-title">Quienes Somos</h1>
    <div class="history-mission-vision-grid">
      <!-- Columna de Historia -->
      <div class="history-card card">
        <div class="card-body">
          <h2>Historia</h2>
          <p>
            Emergency 911 Alerta, es el primer medio independiente de Chile en dónde
            la labor principal se basa en los reportes de las emergencias,
            desastres, alertas, Sismos entre otras informaciones de nuestra índole.
            Nuestro medio informativo es totalmente independiente de cualquier
            organización en el territorio Chileno. La creación y conformación de
            nuestro medio está hecho con el objetivo de alcanzar un amplio
            conocimiento de las Emergencias y prevención ante las diversas
            situaciones que ocurren. Nuestros inicios fueron conformados debido a
            las distintas actividades de la vida cotidiana sobre los sucesos que han
            ocurrido en nuestro país. El “Emergency 911 Alerta” se creó a mediados
            de abril del 2024, debido al megaincendio registrado en la región de
            Valparaíso en dónde las comunicaciones dificultaron de gran
            consideración. Dada esta situación, un grupo de voluntarios
            pertenecientes a las Emergencias pudo tomar en acuerdo de poder crear un
            portal informativo de emergencias en la cual sea capaz de entregar una
            pronta respuesta sobre eventos de menor y gran magnitud a la población.
            Como medio informativo, entregaremos el total apoyo tanto a la
            ciudadanía como a organismos de emergencias quienes quieran unirse a
            nuestro medio, así lograr una comunicación fluida ante eventos que
            ocurran y ser un puente de apoyo informativo independiente.
          </p>
        </div>
      </div>
      
      <!-- Columna de Misión y Visión -->
      <div class="mission-vision-container">
        <div class="mission-card card">
          <div class="card-body">
            <h2>Misión</h2>
            <p>
              Ser un medio totalmente independiente capaz de llevar las informaciones
              con seriedad y compromiso.
            </p>
          </div>
        </div>
  
        <div class="vision-card card">
          <div class="card-body">
            <h2>Visión</h2>
            <p>
              Poder lograr ser un portal informativo reconocido por nuestro trabajo
              ante la ciudadanía y los organismos de emergencias.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://unpkg.com/scrollreveal"></script>
<script>
    // Configuración de ScrollReveal
    ScrollReveal().reveal('.history-card', {
      origin: 'left',
      distance: '50px',
      duration: 1000,
      easing: 'ease-in-out',
      reset: true
    });
  
    ScrollReveal().reveal('.mission-card, .vision-card', {
      origin: 'right',
      distance: '50px',
      duration: 1000,
      easing: 'ease-in-out',
      reset: true,
      interval: 200
    });
</script>

{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/sobremii-style.css' %}">
{% endblock %}
